.logo {
  width: 100%;
}
.link {
  text-decoration: none;
  color: #fff;
}
.link1 {
  text-decoration: none;
  color: #3eb2f9;
}
.logo1 {
  width: 65px;
  height: 30px;
  padding-right: 10px;
  background-position: center;
}
